body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

button {
    background-color: blue;
    padding: 1% 2% 1% 2%;
    font-size: 1rem;
    color: white;
}

#container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

#inner {
    padding: 4rem 8rem;
    background-color: white;
    position: relative;
}
#inner h1 {
    position: absolute;
    color: red;
    top: 10%;
    left: 35%;
}

#del {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 130%;
    background-color: white;
    color: red;
    border: none;
}